/* Base Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #080b17;
    color: white;
    position: relative;
}

.header .logo {
    font-weight: bold;
    font-size: 24px;
    color: #8a5cf6;
    text-decoration: none;
    margin-left: 20px;
}

.header a {
    color: #A8AEBF;
    text-decoration: none;
}

.header a:hover {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: 20px;
}

/*.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: white;
    color: #333;
    width: 180px;
}

.search-input::placeholder {
    color: #aaa;
}*/

/* Responsive Mobile Styles */
@media (max-width: 768px) {
    /* Hide navigation links by default on mobile */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #080b17;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px;
        gap: 10px; /* Less gap for mobile */
        z-index: 1;
    }

    /* Show navigation links when active */
    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    .header .logo {
        margin-left: 0; /* Adjust margin on mobile */
    }

    /* Ensure the search bar maintains its layout on mobile */
    .search-bar {
        width: 100%;
        max-width: 200px;
    }

    .search-input {
        width: 100%; /* Full width on mobile */
    }
}

/* Desktop-specific styles */
@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    .header .logo {
        margin-left: 230px; /* Add left margin only on desktop */
    }

    .nav-links {
        margin-right: 240px; /* Add right margin only on desktop */
    }
}
